body {
  font-family: 'Roboto';
}

.highcharts-loading {
  opacity: 1 !important;
  background-color: transparent !important;
}

.loading-spinner {
  color: #424242;
}

.submit {
  border:0;
  background:transparent;
  padding: 0;
}

paper-toolbar paper-icon-button {
  color: white;
}

#main {
  width: 60%;
  margin: auto;
  display: table;
  height: 100%;
}

#main > div {
  display: table-cell;
  vertical-align: middle;
}

#main > div > div {
  text-align: center;
}

#main form {
  width: 60%;
  margin: auto;
  margin-bottom: 19px;
}

paper-toolbar .title {
  pointer-events: auto !important;
  height: 22px;
}

paper-toolbar paper-input {
  width: 300px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

paper-checkbox {
  margin-right: 24px;
}

.controls {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.link {
  color: #424242;
  margin-left: 12px;
  margin-right: 12px;
}

.link a > * {
  margin-right: 6px;
}

main {
  height: ~"calc(100% - 64px)";
}

#main ul {
  list-style: none;
  padding-left: 0px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}