.highcharts-loading {
  opacity: 1 !important;
  background-color: transparent !important;
}

.submit {
  border: 0;
  background: transparent;
  padding: 0;
}

@main-padding: 20px;
@toolbar-height: 64px;
@footer-height: 64px;

main {
  height: calc(~"100vh -" (2 * @main-padding + @footer-height + @toolbar-height));
  width: calc(~"100% -" (2 * @main-padding));
  padding: @main-padding;
  overflow: auto;
}

.hcenter {
  text-align: center;
}

.layout-center {  
  margin-left: auto;
  margin-right: auto;
}

.layout-vcenter {  
  margin-top: auto;
  margin-bottom: auto;
}

.full {
  width: 100%;
  height: 100%;
}

#main-search {
  padding-bottom: 19px;
  max-width: 550px;
}

.clickable {
  cursor: pointer;
}

.selectable-content.paper-menu > .iron-selected paper-icon-item {
  font-weight: bold;
}

paper-toolbar {
  .title {
    pointer-events: auto !important;
    height: 22px;
  }
  paper-input {
    max-width: 300px;
  }
  paper-icon-button {
    color: white;
  }
}

a {
  text-decoration: inherit;
  color: inherit;
}

paper-checkbox {
  padding: 12px;
}

footer {
  bottom: 0;
  width: 100%;
  height: @footer-height;
  div {  
    padding: 18px 0;
  }
}

.link {
  vertical-align: middle;
  padding: 2px 12px;
  a {
    > * {
      vertical-align: middle;
    }
    > iron-icon {
      padding-right: 6px;
    }
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error pre {
  overflow: auto;
}

div.error {
  width: 80%;
  h1 {
    display: inline;
  }
  > div > * {
    vertical-align: middle;
  }
}

paper-dialog.info img {
  height: 200px;
}

.info .summary {  
  width: 250px;
}

.summary p {
  margin: 0px;
}

.summary p + p {
  margin-top: 1em;
}

paper-dialog h2 {
  font-weight: 400 !important;
}

.highcharts-loading > span {
  top: ~'calc(50% - 36px)' !important;
}

paper-card + paper-card {
  margin-top: 20px;
}

.top-title {
  max-width: 450px;
  paper-card {
    margin: 10px;
    width: ~'calc(100% - 20px)';
  }
  .summary {
    overflow-y: auto;
  }
}

.summary {
  margin-left: 20px;
}

.top-title img, .top-title .summary {
  height: 150px;
}