extends layout

block scripts
  script(src='/bower_components/highcharts/highcharts.js')
  script(src='/controllers/graph.js')
  script(src='/bower_components/highcharts-ng/dist/highcharts-ng.min.js')
  script.
    var id="#{id}";
    var title="#{title}";

block content
  div(ng-controller='GraphController')
    highchart#chart1(config="highchartsNG")
    label
      | Show Series Trendline
      input(type="checkbox", name='seriesTrendline', ng-model="seriesTrendline", ng-change="toggleSeriesTrendline()")
    label
      | Show Season Trendlines
      input(type="checkbox", name='seasonTrendline', ng-model="seasonTrendline", ng-change="toggleSeasonTrendline()")
