extends layout

block scripts
  script(src='/controllers/chart.js')
  script.
    var id="#{id}";
    var title="#{title}";

block content
  div(ng-controller='ChartController')
    highchart#chart1(config="highchartsNG")
    div.controls
      paper-checkbox(name='seriesTrendline', ng-model="seriesTrendline", ng-change="toggleSeriesTrendline(seriesTrendline)") Show Series Trendline
      paper-checkbox(name='seasonTrendline', ng-model="seasonTrendline", ng-change="toggleSeasonTrendline(seasonTrendline)") Show Season Trendlines
      paper-radio-group(ng-model='scale')
        paper-radio-button(name='auto') Auto Scale Y-Axis
        paper-radio-button(name='full') Scale Y-Axis from 0 to 10
