extends layout

block scripts
  script(src='/bower_components/highcharts/highcharts.js')
  script(src='/controllers/graph.js')
  script(src='/bower_components/highcharts-ng/dist/highcharts-ng.min.js')
  script.
    var id="#{id}";
    var title="#{title}";

block content
  div(ng-controller='GraphController')
    highchart#chart1(config="highchartsNG")
