extends layout

block scripts
  script(src='/assets/javascripts/render.js')
  script(src='bower_components/highcharts/highcharts.js')
  script.
    var id="#{id}";

block content
  #graph
    div
      div
        i.fa.fa-spinner.fa-spin.fa-5x
