extends layout

block content
  .layout.vertical.center.full
    div.error.layout-center.layout-vcenter
      .hcenter
        iron-icon.error(icon='report')
        h1 #{error.status} #{error.message}
      pre #{error.stack}
