extends layout

block scripts
  script(src='/controllers/application.js')

block content
  #main
    div
      div Visualize IMDb ratings and trends of TV Series by Episode.
      form(is="iron-form", method="get", action="/search")
        paper-input(name='q', label ='Search for TV Series')
          button.submit(suffix)
            paper-icon-button(icon="search")
