extends layout

block vars
  - selected = 0

block scripts
  script(src='/controllers/application.js')

block content
  .layout.vertical.layout-vcenter(ng-controller='ApplicationController')
    p.hcenter Visualize IMDb Ratings of TV Shows.
    form#main-search.layout-center(is="iron-form", method="get", action="/search")
      paper-input(name='q', label ='Search for a TV Series', required, size="550")
        button.submit(suffix)
          paper-icon-button(icon="search")
    .hcenter
      p Have you seen?
      .layout.vertical
        each val in [{title: 'The Sopranos', id: 'tt0141842'}, {title: 'Breaking Bad', id: 'tt0903747'}, {title: 'Better Call Saul', id: 'tt3032476'}]
          span.link.gray
            a(href='/#{val.id}')
              iron-icon(icon="theaters")
              span= val.title
