extends layout

block content
  div.row(ng-controller='ApplicationController')
    div.col-md-6.col-md-offset-3
      .page-header
        h1= title
      form(ng-submit='search()')
        input(type='text', placeholder='Search', ng-model='q')
        input(type='submit')
