extends layout

block scripts
  script(src='/controllers/application.js')

block content
  #main
    center Visualize IMDb Ratings of TV Shows.
    form(is="iron-form", method="get", action="/search")
      paper-input(name='q', label ='Search for a TV Series', required)
        button.submit(suffix)
          paper-icon-button(icon="search")
    center
      span Have you seen?
      ul.link-list
        each val in [{title: 'The Sopranos', id: 'tt0141842'}, {title: 'Breaking Bad', id: 'tt0903747'}, {title: 'Better Call Saul', id: 'tt3032476'}]
          li
            span.link
              a(href='/#{val.id}')
                iron-icon(icon="theaters")
                span= val.title
