doctype html
html(ng-app='IMDBRatings')
  head
    title= title

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')

    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/app.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

    script(src='/controllers/application.js')

    block scripts

  body    
      div.row
        div.col-md-6.col-md-offset-3
          .page-header
            h1
              a(href='/') Home
              |  #{title}
          block content
