doctype html
html(ng-app='IMDBRatings')
  head
    title= title

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')

    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/app.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

    script(src='/controllers/search.js')

    block scripts

  body
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-inner
          a.navbar-brand(href='/') Home
          form.navbar-form.navbar-right(ng-controller='SearchController', role='search', ng-submit='search()')
            .input-group
              input.form-control(type='text', placeholder='Search', ng-model='q')
              span.input-group-btn
                button.btn.btn-info(type='submit')
                  i.glyphicon.glyphicon-search
    block content
